---
/**
 * Projects Section
 */
import { getResumeItems, getItemName, renderContent } from "../utils";

const items = await getResumeItems("05-projects");
---

<section id="projects" class="section section--projects">
  <h2>Projects</h2>

  {items.map((item) => {
    const itemName = getItemName(item);
    return (
      <article id={`projects-${itemName}`} class="item">
        {item.data.title && <h3>{item.data.title}</h3>}
        <div class="item-meta">
          <div class="item-meta-left">
            {item.data.duration && <span class="subheader">{item.data.duration}</span>}
          </div>
        </div>
        {item.body && <div class="content" set:html={renderContent(item.body)} />}
      </article>
    );
  })}
</section>
