---
/**
 * Resume Page
 */
import Layout from "../layouts/Layout.astro";
import {
  Footer,
  Personal,
  Education,
  Skills,
  Summary,
  Experience,
  Projects,
} from "../components";
---

<Layout title="Thy Do - Information Systems Engineer">
  <Personal />

  <div class="layout">
    <aside class="sidebar">
      <Education />
      <Skills />
    </aside>

    <main class="main-content">
      <Summary />
      <Experience />
      <Projects />
    </main>
  </div>

  <Footer />
</Layout>
